@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Rubik+Doodle+Shadow&display=swap')
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background: blue;
    font-family: 'Rubik Doodle Shadow', 'Pixelify Sans', sans-serif;
}